:root {
  --color-Red: hsl(0, 100%, 74%);
  --color-Green: #38cc8c;
  --color-Blue: hsl(248, 32%, 49%);
  --color-DarkBlue: hsl(249, 10%, 26%);
  --color-GrayishBlue: hsl(246, 25%, 77%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 28px;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 2.5rem;
  font-size: 1rem;
  position: relative;
  display: grid;
  place-items: center;
  background-image: url(../images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-Red);
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }
}
@media screen and (min-width: 2560px) {
  body {
    background-size: cover;
  }
}

.content {
  width: 23.4375rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "header" "main";
  gap: 1.875rem;
}
@media screen and (min-width: 1440px) {
  .content {
    width: 75rem;
    gap: 3.75rem;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header main";
  }
}

.header {
  width: 100%;
  height: auto;
  padding-top: 5.4375rem;
  color: #fff;
  grid-area: header;
}
@media screen and (min-width: 1440px) {
  .header {
    width: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
  }
}
.header__title {
  margin-top: 0;
  color: inherit;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .header__title {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 3.75rem;
  }
}
.header__text {
  margin-top: 0.9375rem;
  font-weight: 500;
  color: inherit;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .header__text {
    text-align: left;
  }
}

.main {
  width: 100%;
  grid-area: main;
  display: grid;
  place-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 1440px) {
  .main {
    width: 32.5rem;
  }
}
.main__contentMsg {
  width: 100%;
  padding: 0.9375rem 2.5rem;
  background-color: var(--color-Blue);
  border-radius: 0.625rem;
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.3);
}
.main__contentMsgText {
  margin: 0;
  text-align: center;
  color: var(--color-GrayishBlue);
}
.main__contentMsgTextColor {
  color: #fff;
}
.main__contentForm {
  width: 100%;
  background-color: #fff;
  border-radius: 0.625rem;
  padding: 1.25rem;
}
@media screen and (min-width: 1440px) {
  .main__contentForm {
    padding: 2.5rem 1.25rem;
  }
}

.form {
  display: grid;
  place-items: center;
  gap: 20px;
}
.form__contentInput {
  width: 100%;
  position: relative;
  transition: opacity 0.3s;
}
.form__contentInput--error {
  color: var(--color-Red);
}
.form__contentInput--error::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}
.form__contentInput--error::after {
  content: attr(data-error);
  position: absolute;
  bottom: -10px;
  right: 0;
  color: var(--color-Red);
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 500;
  opacity: 1;
}
.form__input {
  width: 100%;
  padding: 0.9375rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  outline: 0;
  border: 0.125rem solid var(--color-GrayishBlue);
  font-weight: 600;
}
.form__input::placeholder {
  font-weight: 600;
}
.form__input--show {
  color: inherit;
  border: 0.125rem solid var(--color-Red);
  margin-bottom: 0.625rem;
}
.form__btn {
  width: 100%;
  height: 3.125rem;
  font-weight: 300;
  border-radius: 0.3125rem;
  color: #fff;
  border: 0;
  box-shadow: 0 0.1875rem 0 #238a5d;
  background-color: var(--color-Green);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s;
  cursor: pointer;
}
.form__btn:active {
  background-color: #42e69f;
}
.form__textServices {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-GrayishBlue);
}
.form__linkServices {
  text-decoration: none;
  font-weight: 700;
  color: var(--color-Red);
}

.footer {
  padding: 0.625rem;
  position: absolute;
  bottom: 0;
  font-family: sans-serif;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: #000;
}
.attribution__link {
  font-weight: bold;
  color: #3e52a3;
}
.attribution__link--name {
  text-decoration: none;
  color: #333;
}

/*# sourceMappingURL=style.css.map */
