@use "variables";
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  padding-bottom: 2rem;
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--color-Red);
  font-family: "Poppins", sans-serif;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}
// Weights: 400, 500, 600, 700 
.content{
  width: 375px;
  padding-left: 30px;
  padding-right: 30px;
}