.header {
  width: 100%;
  height: auto;
  padding-top: 5.4375rem;
  color: #fff;
  grid-area: header;
  @media screen and (min-width: 1440px) {
  width: 31.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
  }
  &__title {
    margin-top: 0;
    color: inherit;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    @media screen and (min-width: 1440px) {
      text-align: left;
      font-size: 3rem;
      margin-bottom: 0;
      line-height: 3.75rem;
    }
  }
  &__text {
    margin-top: 0.9375rem;
    font-weight: 500;
    color: inherit;
    text-align: center;
    @media screen and (min-width: 1440px) {
      text-align: left;
    }
  }
}
