.main {
  width: 100%;
  grid-area: main;
  display: grid;
  place-items: center;
  gap: 1.25rem;
  @media screen and (min-width: 1440px) {
    width: 32.5rem;
  }
  &__contentMsg {
    width: 100%;
    padding: 0.9375rem 2.5rem;
    background-color: var(--color-Blue);
    border-radius: 0.625rem;
    box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  }
  &__contentMsgText {
    margin: 0;
    text-align: center;
    color: var(--color-GrayishBlue);
  }
  &__contentMsgTextColor {
    color: #fff;
  }
  &__contentForm {
    width: 100%;
    background-color: #fff;
    border-radius: 0.625rem;
    padding: 1.25rem;
    @media screen and (min-width: 1440px) {
      padding: 2.5rem 1.25rem;
    }
  }
}
